<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modify Doc</title>
</head>
<body>
    <div>
        <form method="POST" action=<%= "/modify/"+id %>>
        <table>
            <% for(let i in itemS){ a=true;%> 
                <tr><td><%= i %></td> <td><input type="text" name=<%= i %> value= "<%= itemS[i] %>" > </td></tr>
                <% } %>
        </table>
      
            <input type="submit" value="Submit">
        </form>
            
    </div>
</form>
</body>
</html>